# SPDX-FileCopyrightText: 2023 Helmholtz-Zentrum hereon GmbH (hereon)
# SPDX-License-Identifier: CC0-1.0
# SPDX-FieContributor: Carsten Lemmen <carsten.lemmen@hereon.de>
*.aux
*.bcf
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
paper.out
paper.pdf
paper.tex
paper.html
paper.bbl
paper.blg
paper.run.xml
paper.docx
paper.pptx
paper.odt
paper.txt
paper.dvi
texput.log

